<div class="container-fluid">
	<div class="row mx-auto">
		<div class="col-sm-3 row">
			<div class="col-sm-4 col-md-3 side-content">
                       <!--  <div class="step">
						  <div>
						    <div class="circle"><i class="fa fa-check"></i></div>
						  </div>
						  <div>
						    <div class="title" >
						    	<button class="btn" (click)="open(content)" >Description</button>
						    </div>
						
						  </div>
						</div> -->
						<div class="step step-active">
						  <div>
						    <div class="circle">1</div>
						  </div>
						  <div>
						    <div class="title">Contenu</div>
						  </div>
						</div>
						<div class="step">
						  <div>
						    <div class="circle">2</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn" (click)="configuration()">Configuration</button>
						    </div>
						  </div>
						</div>

						<div class="step">
						  <div>
						    <div class="circle">3</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn"  (click)="paiement()" >Paiements</button>
						    </div>
						  </div>
						</div>

						<div class="step">
						  <div>
						    <div class="circle">4</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn"  (click)="leaderboard()" >Leaderboard</button>
						    </div>
						  </div>
						</div>
                    </div>

		</div>
		<div class="col-sm-7">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a routerLink="/aventures" >Aventures </a></li>
				    <li class="breadcrumb-item" aria-current="page">{{ aventure.titre.fr }} / {{ aventure.titre.en }}</li>
				    <li class="breadcrumb-item active" aria-current="page">Contenu</li>
				  </ol>
				</nav>

				
								


				<div class="text-center">
					<hr>
					<button class="btn btn-sm btn-primary" (click)="toggle() " [disabled]="!isOpen"> <i class="fa fa-plus"></i> Ajouter</button>
					<hr>

					<div *ngFor="let j of jeux">
						<div class="col-sm-12"  >
							<div class="card bg-light mb-3">
				                <div class="card-header"> 
				                	<i  *ngIf="j.type == 'geolocalisation'" class="fa fa-map-marker" aria-hidden="true"></i> 
				                	<i  *ngIf="j.type == 'quizz'" class="fa fa-question-circle" aria-hidden="true"></i> 
				                	<i  *ngIf="j.type == 'qrcode'" class="fa fa-qrcode" aria-hidden="true"></i> 
				                	<i  *ngIf="j.type == 'puzzle'" class="fa fa-puzzle-piece" aria-hidden="true"></i> 
				                	<i  *ngIf="j.type == 'photo'" class="fa fa-camera" aria-hidden="true"></i> 

				                	{{ j.type | titlecase }} 

				                	<button class="btn btn-sm float-sm-right" 
				                	(click)=edit(QuizzModal,j) *ngIf="j.type == 'quizz'"><i class="fa fa-edit" ></i></button>
				                	<button class="btn btn-sm float-sm-right" 
				                	(click)=edit(GeolocModal,j) *ngIf="j.type == 'geolocalisation'"><i class="fa fa-edit" ></i></button>


				                	<button class="btn btn-sm float-sm-right" 
				                	(click)=edit(QrCodeModal,j) *ngIf="j.type == 'qrcode'"><i class="fa fa-edit" ></i></button>

				                	<button class="btn btn-sm float-sm-right" 
				                	(click)=edit(PhotoModal,j) *ngIf="j.type == 'photo'"><i class="fa fa-edit" ></i></button>

				                	<button class="btn btn-sm float-sm-right" 
				                	(click)=edit(PuzzlesModal,j) *ngIf="j.type == 'puzzle'"><i class="fa fa-edit" ></i></button>

				                </div>
				                <div class="card-body">
				                    <h4 class="card-title" *ngIf="j.type == 'quizz'">{{ j.question.fr }}</h4>
				                    <h4 class="card-title" *ngIf="j.type == 'quizz'">{{ j.question.en }}</h4>

				                    <p class="card-text" *ngIf="j.type == 'quizz'">Réponse fr : {{ j.reponse.fr }}</p>
				                    <p class="card-text" *ngIf="j.type == 'quizz'">Réponse en : {{ j.reponse.en }}</p>

				                    <p class="card-text">{{ j.description.fr }}</p>
				                    <p class="card-text">{{ j.description.en }}</p>
				                    <p class="card-text" *ngIf="j.type == 'geolocalisation'">Latitude : {{ j.latitude }}</p>
				                    <p class="card-text" *ngIf="j.type == 'geolocalisation'">Longitude : {{ j.longitude }}</p>

				                    <p class="card-text" *ngIf="j.type == 'qrcode'">Texte/lien QR Code : {{ j.texte_qrcode }}</p>

				                    <img *ngIf="j.type == 'puzzle'" [src]="j.image_url" class="img-thumbnail">

				                    <img *ngIf="j.type == 'photo' && j.image_url" [src]="j.image_url" class="img-thumbnail">
				                </div>
				            </div>
				        </div>
				        <hr>
							<button class="btn btn-sm btn-primary" (click)="toggle(j.sequence)"[disabled]="!isOpen"> <i class="fa fa-plus"></i> Ajouter</button>
						<hr>
					</div>
						

					

					<!-- QUIZZ MODAL -->
					<ng-template #QuizzModal let-c="close" let-d="dismiss">
						<div class="modal-header">
	                        <h4 class="modal-title mx-auto">{{ quizz.key ? "Modifier" : "Créer"}} Quizz</h4>
	                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
					</ng-template>

					<ng-template #QuizzModal let-c="close" let-d="dismiss">
						<div class="modal-header">
	                        <h4 class="modal-title mx-auto"><i class="fa fa-question-circle"></i>
 Creer Quizz</h4>
	                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click') ||changeIsOpenToTrue()">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                    <div class="modal-body">
	                    	<ngb-tabset>
							  <ngb-tab title="Quizz">
							    <ng-template ngbTabContent>
							      <div class="formulaire">
							      	<div class="form-group row" *ngIf="quizz.aventure.language.fr">
									    <label for="question" class="col-sm-3">Question fr  <span class="flag-icon flag-icon-fr flag-icon-squared"></span> * :</label>
									    <textarea [(ngModel)]="quizz.question.fr" class="form-control col-sm-8 mx-auto" required="true"></textarea>
									    <!-- <label for="question" class="col-sm-3"  *ngIf="!quizz.checkQuestion_fr()"></label>
									    <div class="col-sm-8 mx-auto error" *ngIf="!quizz.checkQuestion_fr()">
									    	<p>question vide!</p>
									    </div> -->
									</div>

									<div class="form-group row" *ngIf="quizz.aventure.language.en">
									    <label for="question" class="col-sm-3">Question en  <span class="flag-icon flag-icon-gb flag-icon-squared"></span> * :</label>
									    <textarea [(ngModel)]="quizz.question.en" class="form-control col-sm-8 mx-auto" required="true"></textarea>
									   <!--  <label for="question" class="col-sm-3"  *ngIf="!quizz.checkQuestion_en()"></label>
									    <div class="col-sm-8 mx-auto error" *ngIf="!quizz.checkQuestion_en()">
									    	<p>question vide!</p>
									    </div> -->
									</div>

									<div class="form-group row" *ngIf="quizz.aventure.language.fr">

									    <label class="col-sm-3"  >Réponse fr <span class="flag-icon flag-icon-fr flag-icon-squared"></span>  * :</label>
									    <input [(ngModel)]="quizz.reponse.fr"  type="text" class="form-control col-sm-8 mx-auto" placeholder="Reponse fr" >

									   <!--  <label for="question" class="col-sm-3" *ngIf="!quizz.checkReponse_fr()"></label>
									    <div class="col-sm-8 mx-auto error" *ngIf="!quizz.checkReponse_fr()">
									    	<p>réponse vide!</p>
									    </div> -->
									</div>

									<div class="form-group row" *ngIf="quizz.aventure.language.en">

									    <label class="col-sm-3"  >Réponse en <span class="flag-icon flag-icon-gb flag-icon-squared"></span>  * :</label>
									    <input [(ngModel)]="quizz.reponse.en"  type="text" class="form-control col-sm-8 mx-auto" placeholder="Réponse en" >

									    <!-- <label for="question" class="col-sm-3" *ngIf="!quizz.checkReponse_en()"></label>
									    <div class="col-sm-8 mx-auto error" *ngIf="!quizz.checkReponse_en()">
									    	<p>réponse vide!</p>
									    </div> -->
									</div>

									<hr> 

									<div class="form-group row">
									    <label for="exampleInputEmail1" class="col-sm-3">Image :</label>
									    <div class="col-sm-8 row">
									    	<input type="file" name="image" class="form-control col-sm-6 mx-auto"   (change)="prepareImageUpload($event)">
										    <img class="col-sm-6"  *ngIf="imageSrc" class="img-thumbnail" [src]="imageSrc"  alt="Avatar" style="height: 70px"> 

										    <img class="col-sm-6"  *ngIf="!imageSrc" class="img-thumbnail" [src]="quizz.image_url"  alt="Avatar" style="height: 70px"> 
									    </div>
										    
									</div>

									<hr>
									<div *ngIf="quizz.aventure.language.fr">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre FR <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> :</label>
										    <input [(ngModel)]="quizz.titre.fr"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission FR <span class="flag-icon flag-icon-fr flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="quizz.description.fr" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>

									<hr>

									<div *ngIf="quizz.aventure.language.en">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre EN  <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <input [(ngModel)]="quizz.titre.en"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission EN <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="quizz.description.en" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>
								    


									
							      </div>
							    </ng-template>
							  </ngb-tab>

							  


							  <ngb-tab>
							    <ng-template ngbTabTitle>Configuration</ng-template>
							    <ng-template ngbTabContent>
							    	<div class="formulaire">
							    		<div class="form-group form-check">
										    <input [(ngModel)]="quizz.requis" type="checkbox" class="form-check-input" id="exampleCheck1">
										    <label class="form-check-label" for="exampleCheck1">Resolution du quizz requise pour continuer</label>
										</div>
										<span>Temps de pénalisation si le joueur décide de passer:</span>
										<div class="form-group row margin">
										    <div class="col-5 margin">
										      <input [(ngModel)]="quizz.penalisation_passer" type="number" min="0" class="form-control" id="inputPassword" placeholder="Temps limites" [disabled]="quizz.requis" required="true">
										    </div>
										    <label for="inputPassword" class="col-2 col-form-label">secondes</label>
										
										</div>
							    		
							    	</div>
							    </ng-template>
							  </ngb-tab>

							  <ngb-tab >
							  	 <ng-template ngbTabTitle>Indices</ng-template>
							  	 <ng-template ngbTabContent>
							  	 	<div class="formulaire">

							  	 		<div class="card" *ngFor="let indice of quizz.indices ;index as i">
										
										  <div class="card-body row">
										  	<div class="col-sm-12 text-right">
							  	 				<label></label><br>
							  	 				<button class="btn" (click)="removeIndice(quizz,i)" > <i class="fa fa-fw fa-trash"> </i>
							  	 				</button>
							  	 			</div>
											<div class="col-sm-12" *ngIf="quizz.aventure.language.fr">
							  	 					<fieldset class="form-group">
									                    <label>Indice FR <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> *</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.fr" >
									                 
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12" *ngIf="quizz.aventure.language.en">
							  	 					<fieldset class="form-group">
									                    <label>Indice EN <span class="flag-icon flag-icon-gb flag-icon-squared"> </span>*</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.en" >
									              
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12">
							  	 					<fieldset class="form-group">
									                    <label>Temps de pénalisation *</label>
									                    <input class="form-control" type="number" min="0" [(ngModel)]="indice.temps_penalisation" >
									                  
									                </fieldset>
							  	 			</div>
							  	 			

										  </div>
										</div>
							  	 	

							  	 		<button  (click)="addIndice(quizz)" type="button" class="btn btn-sm btn-primary btn-margin-bottom" > <i class="fa fa-fw fa-plus"></i> Ajouter indice</button>
							  		</div>
							  	 </ng-template>
							  </ngb-tab>
							  
							  
							</ngb-tabset>
	                    </div>
	                    <div *ngFor="let error of quizz.errors" class="alert alert-danger" style="display: block">
		                            	
		                            		* {{ error }}
		                            	
		                 </div>
	                    <div class="modal-footer">

	                    	
	                    	<button class="btn btn-sm btn-primary" (click)="addQuizz() || changeIsOpenToTrue()"  >{{ quizz.key ? "Modifier" : "Créer"}}</button>	
	                    	<!-- [disabled]="!quizz.question_fr || !quizz.question_en || !quizz.reponse_fr || !quizz.reponse_en || (!quizz.requis && !quizz.penalisation_passer)" -->
	                    </div>
					</ng-template>


					<!-- GEOLOC MODAL -->
					<ng-template #GeolocModal let-c="close" let-d="dismiss">
						<div class="modal-header">
	                        <h4 class="modal-title mx-auto"><i class="fa fa-map-marker"></i> {{ geo.key ? "Modifier" : "Créer"}} Geolocalisation</h4>
	                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                    <div class="modal-body">
	                    	<ngb-tabset>
							  <ngb-tab title="Geolocalisation">
							    <ng-template ngbTabContent>

							    	<div style="height: 300px;"
									     leaflet 
									     [leafletOptions]="options" [leafletLayers]="layers" (leafletClick)="clickMap($event)" [leafletCenter]="centerMap()" >
									</div>

							      <div class="formulaire">

							      	

							      	<div class="form-group row">
									    <label for="question" class="col-sm-3">Latitude <i class="fa fa-map-marker" aria-hidden="true"></i> * :</label>
									    <input type="number" min="0" step="0.000000000000000001" [(ngModel)]="geo.latitude" class="form-control col-sm-8 mx-auto" required="true" />
									    

									</div>

									<div class="form-group row">
									    <label for="question" class="col-sm-3">Longitude <i class="fa fa-map-marker" aria-hidden="true"></i> * :</label>
									    <input type="number" min="0" step="0.000000000000000001" [(ngModel)]="geo.longitude" class="form-control col-sm-8 mx-auto" required="true" />
									   

									</div>

									

									<hr> 

									<div class="form-group row">
									    <label for="exampleInputEmail1" class="col-sm-3">Image :</label>
									    <div class="col-sm-8 row">
									    	<input type="file" name="image" class="form-control col-sm-6 mx-auto"   (change)="prepareImageUpload($event)">
										    <img class="col-sm-6"  *ngIf="imageSrc" class="img-thumbnail" [src]="imageSrc"  alt="Avatar" style="height: 70px"> 

										    <img class="col-sm-6"  *ngIf="!imageSrc" class="img-thumbnail" [src]="geo.image_url"  alt="Avatar" style="height: 70px">
									    </div>
										    
									</div>

							      	<hr>

							      	<div *ngIf="geo.aventure.language.fr">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre FR <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> :</label>
										    <input [(ngModel)]="geo.titre.fr"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission FR <span class="flag-icon flag-icon-fr flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="geo.description.fr" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>

									<hr>

									<div *ngIf="geo.aventure.language.en">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre EN  <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <input [(ngModel)]="geo.titre.en"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission EN <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="geo.description.en" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>

									
							      </div>
							    </ng-template>
							  </ngb-tab>
							  <ngb-tab>
							    <ng-template ngbTabTitle>Configuration</ng-template>
							    <ng-template ngbTabContent>
							    	<div class="formulaire">
							    		<div class="form-group form-check">
										    <input [(ngModel)]="geo.requis" type="checkbox" class="form-check-input" id="exampleCheck1">
										    <label class="form-check-label" for="exampleCheck1">Resolution du geolocalisation requise pour continuer</label>
										</div>
										<span>Temps de pénalisation si le joueur décide de passer:</span>
										<div class="form-group row margin">
										    <div class="col-5 margin">
										      <input [(ngModel)]="geo.penalisation_passer" type="number" min="0" class="form-control" id="inputPassword" placeholder="Temps limites" [disabled]="geo.requis" required="true">
										    </div>
										    <label for="inputPassword" class="col-2 col-form-label">secondes</label>
										
										</div>
							    		
							    	</div>
							    </ng-template>
							  </ngb-tab>
							  <ngb-tab >
							  	 <ng-template ngbTabTitle>Indices</ng-template>
							  	 <ng-template ngbTabContent>
							  	 	<div class="formulaire">

							  	 		<div class="card" *ngFor="let indice of geo.indices ;index as i">
										
										  <div class="card-body row">
										  	<div class="col-sm-12 text-right">
							  	 				<label></label><br>
							  	 				<button class="btn" (click)="removeIndice(geo,i)" > <i class="fa fa-fw fa-trash"> </i>
							  	 				</button>
							  	 			</div>
											<div class="col-sm-12" *ngIf="geo.aventure.language.fr">
							  	 					<fieldset class="form-group">
									                    <label>Indice FR <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> *</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.fr" >
									                 
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12" *ngIf="geo.aventure.language.en">
							  	 					<fieldset class="form-group">
									                    <label>Indice EN <span class="flag-icon flag-icon-gb flag-icon-squared"> </span>*</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.en" >
									              
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12">
							  	 					<fieldset class="form-group">
									                    <label>Temps de pénalisation *</label>
									                    <input class="form-control" type="number" min="0" [(ngModel)]="indice.temps_penalisation" >
									                  
									                </fieldset>
							  	 			</div>
							  	 			

										  </div>
										</div>
							  	 	

							  	 		<button  (click)="addIndice(geo)" type="button" class="btn btn-sm btn-primary btn-margin-bottom" > <i class="fa fa-fw fa-plus"></i> Ajouter indice</button>
							  		</div>
							  	 </ng-template>
							  </ngb-tab>
							  
							</ngb-tabset>
	                    </div>
	                    <div *ngFor="let error of geo.errors" class="alert alert-danger" style="display: block">
		                            	
		                            		* {{ error }}
		                            	
		                 </div>
	                    <div class="modal-footer">
	                    	<button class="btn btn-sm btn-primary" (click)="addGeo() || changeIsOpenToTrue()"  >{{ geo.key ? "Modifier" : "Créer"}}</button>
	                    	<!-- [disabled]="!geo.latitude || !geo.longitude || (!geo.requis && !geo.penalisation_passer) " -->
	                    </div>
					</ng-template>

					<!-- PUZZLE MODAL -->
					<ng-template #PuzzlesModal let-c="close" let-d="dismiss">
						<div class="modal-header">

	                        <h4 class="modal-title mx-auto"> <i class="fa fa-puzzle-piece"></i> {{ puzzle.key ? "Modifier" : "Créer"}} Puzzles</h4>
	                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click') ||changeIsOpenToTrue()">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                    <div class="modal-body">
	                    	<ngb-tabset>
							  <ngb-tab title="Puzzle">
							    <ng-template ngbTabContent>
							      <div class="formulaire">
					

							      	<div *ngIf="puzzle.aventure.language.fr">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre FR * <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> :</label>
										    <input [(ngModel)]="puzzle.titre.fr"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission FR * <span class="flag-icon flag-icon-fr flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="puzzle.description.fr" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>

									<hr>

									<div *ngIf="puzzle.aventure.language.en">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre EN *  <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <input [(ngModel)]="puzzle.titre.en"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission EN * <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="puzzle.description.en" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>

									<div class="form-group row">
									    <label for="exampleInputEmail1" class="col-3">Image Puzzle*:</label>
									    <input type="file" name="image" class="form-control col-sm-8 mx-auto" required="true"  (change)="detectFile($event)||fileChangeEvent($event)">
									   	<label class="col-3" *ngIf="!croppedImage && puzzle.actif"></label>
									    <div class="col-sm-8 mx-auto error" *ngIf="!croppedImage && puzzle.actif">
									    	<p>image vide!</p>
									    </div>
									    
									    	<div style="width: 100%;text-align: left;">
									    		<image-cropper
												    [imageChangedEvent]="imageChangedEvent"
												    [maintainAspectRatio]="true"
												    [aspectRatio]="4 / 4"
												    [resizeToWidth]="292"
												    [imageQuality]="100"
												    format="png"
												    (imageCropped)="imageCropped($event)"
												    (imageLoaded)="imageLoaded()"
												    (loadImageFailed)="loadImageFailed()"
												    style="width:auto; height: 200px"
												></image-cropper>
									    	</div>
									    

										<div style="text-align: center; width: 100%;margin-top: 1em;">
											<img [src]="croppedImage" style="width: auto;height: 190px;" />
										</div>
									</div>
							      </div>
							    </ng-template>
							  </ngb-tab>
							  <ngb-tab>
							    <ng-template ngbTabTitle>Configuration</ng-template>
							    <ng-template ngbTabContent>
							    	<div class="formulaire">
							    		<div class="form-group form-check">
										    <input [(ngModel)]="puzzle.requis" type="checkbox" class="form-check-input" id="exampleCheck1">
										    <label class="form-check-label" for="exampleCheck1">Resolution du puzzle requise pour continuer</label>
										</div>
										<span>Temps de pénalisation si le joueur décide de passer:</span>
										<div class="form-group row margin">
										    <div class="col-5 margin">
										      <input [(ngModel)]="puzzle.penalisation_passer" type="number" min="0" class="form-control" id="inputPassword" placeholder="Temps limites" [disabled]="puzzle.requis" required="true"> secondes
										    </div>

										    <label for="inputPassword" class="col-2 col-form-label">secondes</label>
										
										</div>
							    		
							    	</div>
							    </ng-template>
							  </ngb-tab>
							 <!--  <ngb-tab >
							  	 <ng-template ngbTabTitle>Temps Limite</ng-template>
							  	 <ng-template ngbTabContent>
							  	 
							  	 </ng-template>
							  </ngb-tab> -->
							  
							</ngb-tabset>
	                    </div>
	                    <div *ngFor="let error of puzzle.errors" class="alert alert-danger" style="display: block">
		                            	
		                            		* {{ error }}
		                            	
		                 </div>
	                    <div class="modal-footer">
	                    	<!--
	                    	[disabled]="!puzzle.titre || !puzzle.description || !croppedImage || (!puzzle.requis && !puzzle.penalisation_passer)" 
							-->
	                    	<button class="btn btn-sm btn-primary"  (click)="creerPuzzle() ||changeIsOpenToTrue()"><i class="fa fa-plus"></i> {{ puzzle.key ? "Modifier" : "Créer"}}</button>	
	                    </div>
					</ng-template>


					<!-- PHOTO MODAL -->
					<ng-template #PhotoModal let-c="close" let-d="dismiss">
						<div class="modal-header">
	                        <h4 class="modal-title mx-auto"><i class="fa fa-camera"></i> {{ photo.key ? "Modifier" : "Créer"}} Photo</h4>
	                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click') ||toggle()">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                    <div class="modal-body">
	                    	<ngb-tabset>
							  <ngb-tab title="Photo">
							    <ng-template ngbTabContent>
							      <div class="formulaire">
							    

									


									<div class="form-group row">
									    <label for="exampleInputEmail1" class="col-sm-3">Photo :</label>
									    <div class="col-sm-8 row">
									    	<input type="file" name="image" class="form-control col-sm-6 mx-auto"   (change)="prepareImageUpload($event)">
										    <img class="col-sm-6"  *ngIf="imageSrc" class="img-thumbnail" [src]="imageSrc"  alt="Avatar" style="height: 70px" required="true"> 

										    <img class="col-sm-6"  *ngIf="!imageSrc" class="img-thumbnail" [src]="photo.image_url"  alt="Avatar" style="height: 70px">
									    </div>
										    
									</div>

									<hr>

							      	<div *ngIf="photo.aventure.language.fr">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre FR * <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> :</label>
										    <input [(ngModel)]="photo.titre.fr"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission FR * <span class="flag-icon flag-icon-fr flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="photo.description.fr" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>

									<hr>

									<div *ngIf="photo.aventure.language.en">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre EN *  <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <input [(ngModel)]="photo.titre.en"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission EN * <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="photo.description.en" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>
									
							      </div>
							    </ng-template>
							  </ngb-tab>
							  <ngb-tab>
							    <ng-template ngbTabTitle>Configuration</ng-template>
							    <ng-template ngbTabContent>
							    	<div class="formulaire">
							    		<div class="form-group form-check">
										    <input [(ngModel)]="photo.requis" type="checkbox" class="form-check-input" id="exampleCheck1">
										    <label class="form-check-label" for="exampleCheck1">Resolution du photo requise pour continuer</label>
										</div>
										<span>Temps de pénalisation si le joueur décide de passer:</span>
										<div class="form-group row margin">
										    <div class="col-5 margin">
										      <input [(ngModel)]="photo.penalisation_passer" type="number" min="0" class="form-control" id="inputPassword" placeholder="Temps limites" [disabled]="photo.requis" required="true">
										    </div>
										     <label for="inputPassword" class="col-2 col-form-label">secondes</label>
										   
										</div>
							    		
							    	</div>
							    </ng-template>
							  </ngb-tab>
							   <ngb-tab >
							  	 <ng-template ngbTabTitle>Indices</ng-template>
							  	 <ng-template ngbTabContent>
							  	 	<div class="formulaire">

							  	 		<div class="card" *ngFor="let indice of photo.indices ;index as i">
										
										  <div class="card-body row">
										  	<div class="col-sm-12 text-right">
							  	 				<label></label><br>
							  	 				<button class="btn" (click)="removeIndice(photo,i)" > <i class="fa fa-fw fa-trash"> </i>
							  	 				</button>
							  	 			</div>
											<div class="col-sm-12" *ngIf="photo.aventure.language.fr">
							  	 					<fieldset class="form-group">
									                    <label>Indice FR <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> *</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.fr" >
									                 
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12" *ngIf="photo.aventure.language.en">
							  	 					<fieldset class="form-group">
									                    <label>Indice EN <span class="flag-icon flag-icon-gb flag-icon-squared"> </span>*</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.en" >
									              
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12">
							  	 					<fieldset class="form-group">
									                    <label>Temps de pénalisation *</label>
									                    <input class="form-control" type="number" min="0" [(ngModel)]="indice.temps_penalisation" >
									                  
									                </fieldset>
							  	 			</div>
							  	 			

										  </div>
										</div>
							  	 	

							  	 		<button  (click)="addIndice(photo)" type="button" class="btn btn-sm btn-primary btn-margin-bottom" > <i class="fa fa-fw fa-plus"></i> Ajouter indice</button>
							  		</div>
							  	 </ng-template>
							  </ngb-tab>
							</ngb-tabset>
	                    		
	                    </div>
	                    <div *ngFor="let error of photo.errors" class="alert alert-danger" style="display: block">
		                            	
		                            		* {{ error }}
		                            	
		                 </div>
	                    <div class="modal-footer">
	                    		<button class="btn btn-sm btn-primary" (click)="addPhoto() ||changeIsOpenToTrue()" >{{ photo.key ? "Modifier" : "Créer"}}</button>
		<!-- 
			[disabled]="!photo.titre || !photo.description || (!photo.requis && !photo.penalisation_passer)" 
		-->
	                    </div>
					</ng-template>


					<!-- QR CODE MODAL -->
					<ng-template #QrCodeModal let-c="close" let-d="dismiss">
						<div class="modal-header">
	                        <h4 class="modal-title mx-auto"><i class="fa fa-qrcode"></i> {{ qrcode.key ? "Modifier" : "Créer"}} QR code</h4>
	                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click') ||toggle()">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                    <div class="modal-body">
	                    	<ngb-tabset>
							  <ngb-tab title="Qr Code">
							    <ng-template ngbTabContent>
							      <div class="formulaire">
							      	<div class="form-group row">
									    <label for="question" class="col-sm-3">Texte ou lien QR code * :</label>
									    <input [(ngModel)]="qrcode.texte_qrcode" class="form-control col-sm-8 mx-auto" required="true" />
									  
									</div>

									

									<hr> 

									<div class="form-group row">
									    <label for="exampleInputEmail1" class="col-sm-3">Image :</label>
									    <div class="col-sm-8 row">
									    	<input type="file" name="image" class="form-control col-sm-6 mx-auto"   (change)="prepareImageUpload($event)">
										    <img class="col-sm-6"  *ngIf="imageSrc" class="img-thumbnail" [src]="imageSrc"  alt="Avatar" style="height: 70px"> 

										    <img class="col-sm-6"  *ngIf="!imageSrc" class="img-thumbnail" [src]="qrcode.image_url"  alt="Avatar" style="height: 70px">
									    </div>
										    
									</div>

							      	<hr>
									<div *ngIf="qrcode.aventure.language.fr">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre FR <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> :</label>
										    <input [(ngModel)]="qrcode.titre.fr"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission FR <span class="flag-icon flag-icon-fr flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="qrcode.description.fr" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>

									<hr>

									<div *ngIf="qrcode.aventure.language.en">
										<div class="form-group row">

										    <label for="exampleInputEmail1" class="col-sm-3"  >Titre EN  <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <input [(ngModel)]="qrcode.titre.en"  type="text" class="form-control col-sm-8 mx-auto" id="exampleInputEmail1" >
										</div>
										<div class="form-group row">
										    <label for="exampleInputEmail1" class="col-sm-3">Description de la mission EN <span class="flag-icon flag-icon-gb flag-icon-squared"></span> :</label>
										    <textarea [(ngModel)]="qrcode.description.en" class="form-control col-sm-8 mx-auto" ></textarea>
										</div>
									</div>
								    

									
							      </div>
							    </ng-template>
							  </ngb-tab>
							  <ngb-tab>
							    <ng-template ngbTabTitle>Configuration</ng-template>
							    <ng-template ngbTabContent>
							    	<div class="formulaire">
							    		<div class="form-group form-check">
										    <input [(ngModel)]="qrcode.requis" type="checkbox" class="form-check-input" id="exampleCheck1">
										    <label class="form-check-label" for="exampleCheck1">Resolution du qrcode requise pour continuer</label>
										</div>
										<span>Temps de pénalisation si le joueur décide de passer:</span>
										<div class="form-group row margin">
										    <div class="col-5 margin">
										      <input [(ngModel)]="qrcode.penalisation_passer" type="number" min="0" class="form-control" id="inputPassword" placeholder="Temps limites" [disabled]="qrcode.requis" required="true">
										    </div>
										    <label for="inputPassword" class="col-2 col-form-label">secondes</label>
										 
										</div>
							    		
							    	</div>
							    </ng-template>
							  </ngb-tab>

							  <ngb-tab >
							  	 <ng-template ngbTabTitle>Indices</ng-template>
							  	 <ng-template ngbTabContent>
							  	 	<div class="formulaire">

							  	 		<div class="card" *ngFor="let indice of qrcode.indices ;index as i">
										
										  <div class="card-body row">
										  	<div class="col-sm-12 text-right">
							  	 				<label></label><br>
							  	 				<button class="btn" (click)="removeIndice(qrcode,i)" > <i class="fa fa-fw fa-trash"> </i>
							  	 				</button>
							  	 			</div>
											<div class="col-sm-12" *ngIf="qrcode.aventure.language.fr">
							  	 					<fieldset class="form-group">
									                    <label>Indice FR <span class="flag-icon flag-icon-fr flag-icon-squared"> </span> *</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.fr" >
									                 
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12" *ngIf="qrcode.aventure.language.en">
							  	 					<fieldset class="form-group">
									                    <label>Indice EN <span class="flag-icon flag-icon-gb flag-icon-squared"> </span>*</label>
									                    <input class="form-control" [(ngModel)]="indice.indice.en" >
									              
									                </fieldset>
							  	 			</div>
							  	 			<div class="col-sm-12">
							  	 					<fieldset class="form-group">
									                    <label>Temps de pénalisation *</label>
									                    <input class="form-control" type="number" min="0" [(ngModel)]="indice.temps_penalisation" >
									                  
									                </fieldset>
							  	 			</div>
							  	 			

										  </div>
										</div>
							  	 	

							  	 		<button  (click)="addIndice(qrcode)" type="button" class="btn btn-sm btn-primary btn-margin-bottom" > <i class="fa fa-fw fa-plus"></i> Ajouter indice</button>
							  		</div>
							  	 </ng-template>
							  </ngb-tab>
							  
							</ngb-tabset>
	                    		
	                    </div>
	                    <div *ngFor="let error of qrcode.errors" class="alert alert-danger" style="display: block">
		                            	
		                            		* {{ error }}
		                            	
		                 	</div>
	                    <div class="modal-footer">
	                    	<button class="btn btn-sm btn-primary" (click)="addQrcode() || changeIsOpenToTrue()" >{{ qrcode.key ? "Modifier" : "Créer"}}</button>
	<!-- [disabled]="!qrcode.texte_qrcode || (!qrcode.requis && !qrcode.penalisation_passer) " -->
	                    </div>
					</ng-template>

					<ng-template #content let-c="close" let-d="dismiss" class="modal-lg">
		                    <div class="modal-header">
		                        <h4 class="modal-title">Créer une aventure</h4>
		                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		                            <span aria-hidden="true">&times;</span>
		                        </button>
		                    </div>
		                    <div class="modal-body">
		                        <!-- <h2>Créer une aventure</h2> -->
		                        <div class="form-horizontal">
		                            <div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Nom * :</label>
		                                    <div class="col-sm-9">
		                                      <input type="text"  class="form-control" placeholder="Titre" [(ngModel)]="aventure.titre">
		                                    </div>
		                                  
		                            </div>
		                            <div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Description * :</label>
		                                    <div class="col-sm-9">
		                                      <textarea placeholder="Description"  class="form-control" [(ngModel)]="aventure.description"></textarea>
		                                  </div>
		                            </div>
		                            <div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Avatar:</label>
		                                    <div class="col-sm-9">
		                                      <input class="form-control col-sm-5" type="file" name="avatar"  (change)="prepareImageUpload($event)" > 
		                                      <div class="col-sm-5">
		                                          <img class=" img-thumbnail"  *ngIf="imageSrc"  [src]="imageSrc"  alt="Avatar" style="height: 70px">
		                                      </div>
		                                        
		                                  </div>
		                            </div>

		                            <div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Temps * :</label>
		                                    <div class="col-sm-9">
		                                      <input type="number" min="0" name="min" class="col-sm-4" [(ngModel)]="aventure.temps_max"> à <input type="number" name="max" class="col-sm-4" max="aventure.temps_max" min="0" [(ngModel)]="aventure.temps_min"> minutes
		                                  </div>
		                            </div>
		                            <div class="form-group row">
		                                <label  class="col-sm-3 control-label">Niveau * :</label>
		                                <div class="col-sm-9">
		                                	<select class="col-sm-10" [(ngModel)]="aventure.niveau">
			                                    <option>DEBUTANT</option>
			                                    <option>INTERMEDIAIRE</option>
			                                    <option>EXPERT</option>
			                                </select>
		                                </div>
		                            </div>
		                        </div>

		                    </div>
		                    
		                    <div class="modal-footer">
		                        <button type="button" class="btn btn-sm btn-secondary" (click)="c('Close click')">Annuler</button>
		                        <button type="button" class="btn btn-sm btn-primary" (click)="updateAventure()||c('Close click')" [disabled]="!aventure.titre || !aventure.description || !aventure.temps_max || !aventure.temps_min || !aventure.niveau"> Modifier </button>
		                        
		                    </div>
		            </ng-template>
				</div>
		</div>

		<div class="col-sm-2" style="position: fixed;
right: 20px;">
					<div class="hidden" [@openClose]="isOpen ? 'open' : 'closed'">
						<button class="btn btn-sm btn-primary margin col-12" (click)="open(QuizzModal)"><i class="fa fa-plus"></i> Quizz</button><br>
						<button class="btn btn-sm btn-primary margin col-12" (click)="open(GeolocModal)"><i class="fa fa-plus"></i> Geolocalisation</button><br>
						<button class="btn btn-sm btn-primary margin col-12" (click)="open(PuzzlesModal)"><i class="fa fa-plus"></i> Puzzle</button><br>
						<button class="btn btn-sm btn-primary margin col-12" (click)="open(PhotoModal)"><i class="fa fa-plus"></i> Photo</button><br>
						<button class="btn btn-sm btn-primary margin col-12" (click)="open(QrCodeModal)"><i class="fa fa-plus"></i> QR Code</button>
						<button class="btn btn-sm btn-defualt margin col-12" (click)="cancel()"><i class="fa fa-plus"></i> Annuler</button>
					</div>
			
		</div>
	</div>
</div>
<div class="loading" *ngIf="loading">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>