<div class="container-fluid">
	<div class="row mx-auto">
		<div class="col-sm-3 row">
			<div class="col-sm-4 col-md-3 side-content">
                        <!-- <div class="step">
						  <div>
						    <div class="circle"><i class="fa fa-check"></i></div>
						  </div>
						  <div>
						    <div class="title" >
						    	<button class="btn" (click)="open(content)" >Description</button>
						    </div>
						
						  </div>
						</div> -->
						<div class="step">
						  <div>
						    <div class="circle">1</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn" (click)="contenu()">Contenu</button>
						    </div>
						  </div>
						</div>
						<div class="step">
						  <div>
						    <div class="circle">2</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn" (click)="configuration()">Configuration</button>
						    </div>
						  </div>
						</div>
						<div class="step step-active">
						  <div>
						    <div class="circle">3</div>
						  </div>
						  <div>
						    <div class="title">
						    	Paiements
						    </div>
						  </div>
						</div>
						<div class="step">
						  <div>
						    <div class="circle">4</div>
						  </div>
						  <div>
						    <div class="title">
						    <button class="btn"  (click)="leaderboard()" >Leaderboard</button>
						    </div>
						  </div>
						</div>
                    </div>

		</div>

		<div class="col-sm-9">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a routerLink="/aventures" >Aventures </a></li>
				    <li class="breadcrumb-item" aria-current="page">{{ aventure.titre.fr }} / {{ aventure.titre.en }}</li>
				    <li class="breadcrumb-item active" aria-current="page">Paiement</li>
				  </ol>
				</nav>
				<hr>
				<div class="alert alert-warning" *ngIf="!paiements">
			        Aucun joueur n'a encore rejoint l'aventure.
			    </div>
			    <div *ngIf="paiements">
			    		<div class="card mb-3">
			                <div class="card-header">
			                    Paiements
			                </div>
			                <div class="card-body table-responsive">
			                    <table class="table">
			                        <thead>
			                        <tr>
			                            <th>ID Joueurs</th>
			                            <th>Date</th>
			                            <th>Type de paiement</th>
			                            <th>Statut</th>
			                            <th>Plateforme</th>
			                            <th>Montant</th>
			                            <th>Password</th>
			                        </tr>
			                        </thead>
			                        <tbody>
			                        <tr *ngFor="let p of paiements">
			                            <th> {{ p.joueur_id }}</th>
			                            <td>{{ p.method == "paypal" ? p.date : '' | date:'MMM d, y, h:mm:ss' }}</td>
			                            <td>{{ p.method | uppercase }}</td>
			                            <td>{{ p.status | uppercase }}</td>
			                            <td>{{ p.method == "paypal" ? p.paypal_info.client.platform : "" }} </td>
			                            <td>{{ aventure.prix }}$</td>
			                            <td>{{ p.password }}</td>
			                        </tr>
			                       
			                        </tbody>
			                    </table>
			                </div>
			            </div>				
			    </div>


		</div>
	</div>
</div>

<div class="loading" *ngIf="loading">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>