<div class="container-fluid">
	<div class="row mx-auto">
		<div class="col-sm-3 row">
			<div class="col-sm-4 col-md-3 side-content">
                        <!-- <div class="step">
						  <div>
						    <div class="circle"><i class="fa fa-check"></i></div>
						  </div>
						  <div>
						    <div class="title" >
						    	<button class="btn" (click)="open(content)" >Description</button>
						    </div>
						
						  </div>
						</div> -->
						<div class="step">
						  <div>
						    <div class="circle">1</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn" (click)="contenu()">Contenu</button>
						    </div>
						  </div>
						</div>
						<div class="step step-active">
						  <div>
						    <div class="circle">2</div>
						  </div>
						  <div>
						    <div class="title">Configuration</div>
						  </div>
						</div>

						<div class="step">
						  <div>
						    <div class="circle">3</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn"  (click)="paiement()" >Paiements</button>
						    </div>
						  </div>
						</div>
						<div class="step">
						  <div>
						    <div class="circle">4</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn"  (click)="leaderboard()" >Leaderboard</button>
						    </div>
						  </div>
						</div>
                    </div>

		</div>

		<div class="col-sm-7">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a routerLink="/aventures" >Aventures </a></li>
				    <li class="breadcrumb-item" aria-current="page">{{ aventure.titre.fr }} / {{ aventure.titre.en }}</li>
				    <li class="breadcrumb-item active" aria-current="page">Configuration</li>
				  </ol>
				</nav>

				<div class="alert alert-success" *ngIf="message != ''" >
			        {{ message }}
			    </div>

							<div>	

									<div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Statut </label>
		                                    <div class="col-sm-9">
		                                      	<button class="btn btn-success" *ngIf="aventure.status == 'valide'" >Validé</button>

		                                      	<button class="btn btn-default" *ngIf="aventure.status == 'brouillon'" >Brouillon</button>
		                                    </div>
		                                  
		                            </div>

		                            <!-- <div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Nom de l'aventure * </label>
		                                    <div class="col-sm-9">
		                                      <input type="text"  class="form-control" placeholder="Titre" [(ngModel)]="aventure.titre" name="titre" required>
		                                    </div>
		                                  
		                            </div>
		                            <div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Description de l'aventure * </label>
		                                    <div class="col-sm-9">
		                                      <textarea placeholder="Description"  class="form-control" [(ngModel)]="aventure.description" name="description" required></textarea>
		                                  </div>
		                            </div> -->
		                            <div class="form-group row">
		                                <label class="col-sm-3 control-label">Langue * :</label>
		                                <div class="col-sm-9">
		                                        <div class="checkbox">
		                                            <label>
		                                                <input [(ngModel)]="aventure.language.fr" type="checkbox" value="fr"> Français
		                                            </label>
		                                        </div>
		                                        <div class="checkbox">
		                                            <label>
		                                                <input [(ngModel)]="aventure.language.en" type="checkbox"  value="en"> Anglais
		                                            </label>
		                                        </div>
		                                        
		                                </div>
		                                        
		                            </div>

		                            <div class="form-group row" *ngIf="aventure.language.fr">
		                                    <label  class="col-sm-3 control-label">Nom de l'aventure FR <span class="flag-icon flag-icon-fr flag-icon-squared"></span> * :</label>
		                                    <div class="col-sm-9">
		                                      <input type="text"  class="form-control" placeholder="Titre FR" [(ngModel)]="aventure.titre.fr"  required="">
		                                    </div>
		                               
		             
		                            </div>
		                            <div class="form-group row" *ngIf="aventure.language.en">
		                                    <label  class="col-sm-3 control-label">Nom de l'aventure EN <span class="flag-icon flag-icon-gb flag-icon-squared"></span> * :</label>
		                                    <div class="col-sm-9">
		                                      <input type="text"  class="form-control" placeholder="Titre EN" [(ngModel)]="aventure.titre.en"  required="">
		                                    </div>
		                               
		             
		                            </div>
		                            <hr>
		                            <div class="form-group row" *ngIf="aventure.language.fr">
		                                    <label  class="col-sm-3 control-label">Description de l'aventure FR <span class="flag-icon flag-icon-fr flag-icon-squared"></span> * :</label>
		                                    <div class="col-sm-9">
		                                      <textarea placeholder="Description"  class="form-control" [(ngModel)]="aventure.description.fr" required=""></textarea>
		                                    </div>
		                                
		                            </div>

		                            <div class="form-group row" *ngIf="aventure.language.en">
		                                    <label  class="col-sm-3 control-label">Description de l'aventure EN <span class="flag-icon flag-icon-gb flag-icon-squared"></span> * :</label>
		                                    <div class="col-sm-9">
		                                      <textarea placeholder="Description"  class="form-control" [(ngModel)]="aventure.description.en" required=""></textarea>
		                                    </div>
		                                  
		                            </div>

		                            <hr>

		                            <fieldset class="form-group row">
					                    <label class="control-label col-sm-3">Avatar  </label>
					                    <div class="col-sm-9">
					                    	<input type="file" class="form-control-file" id="exampleInputFile" name="avatar"  (change)="prepareImageUpload($event)">
					                    </div>
					                    
					                    

					                  	<div class="col-sm-9 offset-sm-3">
					                  		<img class=" img-thumbnail"  *ngIf="imageSrc"  [src]="imageSrc"  alt="Avatar" style="height: 70px;">
		                                	<img class=" img-thumbnail"  *ngIf="!imageSrc"  [src]="aventure.avatar_url"  alt="Avatar" style="height: 70px;">
					                  	</div>
		                                
		                               
					                </fieldset>

					                <div class="form-group row">
		                                    <label  class="col-sm-3 control-label">Lieu de l'aventure * </label>
		                                    <div class="col-sm-9">
		                                      <input type="text"  class="form-control" placeholder="Titre" [(ngModel)]="aventure.lieu" name="lieu" required >
		                                    </div>
		                                  
		                           	</div>

		                          	

		                            <fieldset class="form-group row">
		                                    <label  class="control-label col-sm-3">Temps * </label>
		                                   	<div class="col-sm-9 row">

		                                   		<span class="input-group col-sm-5">
								                    <input type="number"  max="{{ aventure.temps_max }}" min="0" name="min" class="form-control" [(ngModel)]="aventure.temps_min" name="temps_min" required >
								                   <!--  <div class="input-group-append">
								                        <span class="input-group-text">minutes</span>
								                    </div>
 -->								              	</span>
		                                     

		                                      à 

		                                      <span class="input-group col-sm-6">
								                    <input class="form-control" type="number"
 min="{{ aventure.temps_max }}" [(ngModel)]="aventure.temps_max" name="temps_max" required >
								                    <div class="input-group-append">
								                        <span class="input-group-text">minutes</span>
								                    </div>
								              </span>
		                                     <!--  <input type="number" name="max" class="col-sm-4" max="aventure.temps_max" min="0" [(ngModel)]="aventure.temps_min"> minutes -->
		                               		</div>
		                            </fieldset>

		                            <div class="form-group row">
		                            	<label class="control-label col-sm-3" >Distance * </label> 
		                            	<div class="col-sm-9  input-group">
		                            		<input type="text" class="form-control col-sm-8" type="number" min="0" [(ngModel)]="aventure.distance" name="distance" required >
						                    <div class="input-group-append ">
						                        <span class="input-group-text">km</span>
						                    </div>
		                            	</div>
						                    
					                </div>

		          

		                            <div class="form-group row">
		                                <label  class="control-label col-sm-3">Niveau * </label>
		                                <div class="col-sm-9">
		                                	<select class="form-control" [(ngModel)]="aventure.niveau"  name="niveau" required >
			                                    <option>DEBUTANT</option>
			                                    <option>INTERMEDIAIRE</option>
			                                    <option>EXPERT</option>
			                                </select>
		                                </div>
		                            </div>

		                            

		                            <hr>

		                            	<div class="form-group row">
			                            	<label class="control-label col-sm-3" >Transport * </label> 
			                            	<div class="col-sm-9  form-group">
			                            		<div class="checkbox">
							                        <label>
							                            <input type="checkbox" [(ngModel)]="aventure.transports.marche"> Marche à pieds
							                        </label>
							                    </div>
							                    <div class="checkbox">
							                        <label>
							                            <input type="checkbox" [(ngModel)]="aventure.transports.bicyclette">  Bicyclette
							                        </label>
							                    </div>
							                    <div class="checkbox">
							                        <label>
							                            <input type="checkbox" [(ngModel)]="aventure.transports.moto"> Moto
							                        </label>
							                    </div>

							                    <div class="checkbox">
							                        <label>
							                            <input type="checkbox" name="transports" [(ngModel)]="aventure.transports.bus"> Bus
							                        </label>
							                    </div>

							                    <div class="checkbox">
							                        <label>
							                            <input type="checkbox" [(ngModel)]="aventure.transports.voiture"> Voiture
							                        </label>
							                    </div>

							                    <div class="checkbox">
							                        <label>
							                            <input type="checkbox" [(ngModel)]="aventure.transports.metro"> Metro
							                        </label>
							                    </div>
							                    
			                            	</div>
							                    
						                </div>

		                            <hr>

		                            <div class="form-group row">
		                            	<label class="control-label col-sm-3" >Prix * </label> 
		                            	<div class="col-sm-9  input-group">
		                            		<input type="text" class="form-control col-sm-8" type="number" min="0" [(ngModel)]="aventure.prix" name="prix" required >
						                    <div class="input-group-append ">
						                        <span class="input-group-text">$</span>
						                    </div>
		                            	</div>
						                    
					                </div>


					                <div *ngFor="let error of aventure_error" class="alert alert-danger">
		                            	
		                            		* {{ error }}
		                            	
		                            </div>

		                            <div class="form-group row">
		                              
		                                <div class="col-sm-5 offset-sm-3">
		                                	<button class="btn btn-primary" (click)="updateAventure()">Valider l'aventure</button>

		                                	
		                                </div>
		                                <div class="col-sm-4">
		                                	<button class="btn btn-warning" (click)="disableAventure()">Mettre l'aventure en brouillon</button>
		                                </div>
		                            </div>

		         </div>

		</div>
	</div>
</div>

<div class="loading" *ngIf="loading">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>