<div class="container-fluid">
	<div class="row mx-auto">
		<div class="col-sm-3 row">
			<div class="col-sm-4 col-md-3 side-content">
                        <!-- <div class="step">
						  <div>
						    <div class="circle"><i class="fa fa-check"></i></div>
						  </div>
						  <div>
						    <div class="title" >
						    	<button class="btn" (click)="open(content)" >Description</button>
						    </div>
						
						  </div>
						</div> -->
						<div class="step">
						  <div>
						    <div class="circle">1</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn" (click)="contenu()">Contenu</button>
						    </div>
						  </div>
						</div>
						<div class="step">
						  <div>
						    <div class="circle">2</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn" (click)="configuration()">Configuration</button>
						    </div>
						  </div>
						</div>
						<div class="step">
						  <div>
						    <div class="circle">3</div>
						  </div>
						  <div>
						    <div class="title">
						    	<button class="btn"  (click)="paiement()" >Paiements</button>
						    </div>
						  </div>
						</div>
						<div class="step step-active">
						  <div>
						    <div class="circle">4</div>
						  </div>
						  <div>
						    <div class="title">Leaderboard</div>
						  </div>
						</div>
                    </div>

		</div>

		<div class="col-sm-9">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a routerLink="/aventures" >Aventures </a></li>
				    <li class="breadcrumb-item" aria-current="page">{{ aventure.titre.fr }} / {{ aventure.titre.en }}</li>
				    <li class="breadcrumb-item active" aria-current="page">Leaderboard</li>
				  </ol>
				</nav>
				<hr>
				<div class="alert alert-warning" *ngIf="joueurJeux.length < 1">
			        Aucun joueur n'a encore rejoint l'aventure.
			    </div>
				<table *ngIf="joueurJeux.length > 0" class="table">
				  <thead>
				    <tr>
				      <th scope="col">Rang</th>
				      <th scope="col">Nom et Prénom</th>

				      <th scope="col">Temps</th>
				      

				      <th scope="col" (click)="loadJoueurJeux()" style="cursor: pointer;"><span>Temps <i class="fa fa-filter"></i></span></th>
				      <th scope="col">Photo</th>
				    </tr>
				  </thead>
				  <tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
				    <tr  *ngFor="let joueurJeu of joueurJeux;index as i"  class="example-box" cdkDrag>
				      <th scope="row">{{i+1}}</th>

				      <td>{{ joueurs[joueurJeu.key].firstname}} {{joueurs[joueurJeu.key].lastname}}</td>
				      <td>{{joueurJeu.temps_total_aventure}}</td>
				      <td><a *ngIf="photos[joueurJeu.key]" (click)="open(photoModal, joueurJeu)" style="cursor: pointer; text-decoration: underline;"> Voir Photo </a>
				      	<p *ngIf="!photos[joueurJeu.key]">Pas de photo</p>
				      </td>

				    </tr>
				  </tbody>
				  <button class="btn col-6 mx-auto" (click)="enregistrerModification()" >Enregister</button>
				</table>

				<button class="btn col-5 mx-auto" (click)="enregistrerModification()" >Enregister</button>
				<div class="col-2"></div>
				<div class="col-2"></div>
				<button class="btn col-5 mx-auto" (click)="loadJoueurJeux('rang')" *ngIf="showButtonRang">Arranger par rang</button>

		</div>
	</div>
</div>


                <ng-template #photoModal let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Photo</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                         <img *ngIf="photo" [src]="photo" class="img-thumbnail">
                         <p *ngIf="!photo" >Pas de photo</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
                    </div>
                </ng-template>


<div class="loading" *ngIf="loading">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>