<div class="container-fluid">
	<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item">GeoHunt</li>
				    <li class="breadcrumb-item active">Gestion des pages</li>
				   
				  </ol>
				</nav>
	<div>

		<div class="alert alert-success" *ngIf="message != ''" >
			        {{ message }}
		</div>
						<ngb-tabset>
							  <ngb-tab title="Termes et conditions">
							    <ng-template ngbTabContent>
							    	
							    	<div class="formulaire">

							    		<ngb-tabset>
							    			<ngb-tab>
							    				<ng-template ngbTabTitle><span class="tab-title">Termes FR </span>
							    					<span class='flag-icon flag-icon-fr flag-icon-squared'></span>
							    				</ng-template>
							    				<ng-template ngbTabContent>

							    					<app-ngx-editor [placeholder]="" [spellcheck]="true" [(ngModel)]="termes.fr"></app-ngx-editor>

							    				</ng-template>
							    			</ngb-tab>
							    			<ngb-tab>
							    				<ng-template ngbTabTitle><span class="tab-title">Termes EN </span>
							    					<span class='flag-icon flag-icon-gb flag-icon-squared'></span>
							    				</ng-template>
							    				<ng-template ngbTabContent>

							    					<app-ngx-editor [placeholder]="" [spellcheck]="true" [(ngModel)]="termes.en"></app-ngx-editor>

							    				</ng-template>
							    			</ngb-tab>
							    		</ngb-tabset>

							    		
							    	
							    	
							    	</div>
							    	
							    	<div class="form-group">
							    			<button class="btn btn-primary" (click)="saveTermes()">Mettre à jour</button>
							    	</div>
							      	
							    </ng-template>
							  </ngb-tab>

							  <ngb-tab title="Page d'accueil">
							    <ng-template ngbTabContent>
							      		<div class="formulaire">
							      			<fieldset class="form-group">
							                    <label>Titre indroductif FR <span class='flag-icon flag-icon-fr flag-icon-squared'></span></label>
							                    <input class="form-control" [(ngModel)]="home.titre.fr">
							                   
							                </fieldset>

							                <fieldset class="form-group">
							                    <label>Texte d'introduction FR <span class='flag-icon flag-icon-fr flag-icon-squared'></span></label>
							                    <textarea class="form-control" rows="3" [(ngModel)]="home.description.fr" ></textarea>
							                </fieldset>
							      		</div>	

							      		<hr>

							      		<div class="formulaire">
							      			<fieldset class="form-group">
							                    <label>Titre indroductif EN <span class='flag-icon flag-icon-gb flag-icon-squared'></span></label>
							                    <input class="form-control" [(ngModel)]="home.titre.en">
							                   
							                </fieldset>

							                <fieldset class="form-group">
							                    <label>Texte d'introduction EN <span class='flag-icon flag-icon-gb flag-icon-squared'></span></label>
							                    <textarea class="form-control" rows="3" [(ngModel)]="home.description.en" ></textarea>
							                </fieldset>
							      		</div>	

							      		<div class="form-group">
							    			<button class="btn btn-primary" (click)="saveHome()">Mettre à jour</button>
							    		</div>	
							    </ng-template>
							  </ngb-tab>

							  <ngb-tab title="Page Contact">
							    <ng-template ngbTabContent>
							      	<div class="formulaire">
							      		<ngb-tabset>
							    			<ngb-tab>
							    				<ng-template ngbTabTitle><span class="tab-title">Contact FR </span>
							    					<span class='flag-icon flag-icon-fr flag-icon-squared'></span>
							    				</ng-template>
							    				<ng-template ngbTabContent>

							    					<app-ngx-editor [placeholder]="" [spellcheck]="true" [(ngModel)]="contact.fr"></app-ngx-editor>

							    				</ng-template>
							    			</ngb-tab>
							    			<ngb-tab>
							    				<ng-template ngbTabTitle><span class="tab-title">Contact EN </span>
							    					<span class='flag-icon flag-icon-gb flag-icon-squared'></span>
							    				</ng-template>
							    				<ng-template ngbTabContent>

							    					<app-ngx-editor [placeholder]="" [spellcheck]="true" [(ngModel)]="contact.en"></app-ngx-editor>

							    				</ng-template>
							    			</ngb-tab>
							    		</ngb-tabset>
							    		<!-- <div [(ngModel)]="contact" [froalaEditor]></div> -->
							    	</div>
							    	
							    	<div class="form-group">
							    			<button class="btn btn-primary" (click)="saveContact()">Mettre à jour</button>
							    	</div>
							    </ng-template>
							  </ngb-tab>

							  <ngb-tab title="Page FAQ">
							    <ng-template ngbTabContent>
							    	<div class="formulaire">
							    		<ngb-tabset>
							    			<ngb-tab>
							    				<ng-template ngbTabTitle><span class="tab-title">FAQ FR </span>
							    					<span class='flag-icon flag-icon-fr flag-icon-squared'></span>
							    				</ng-template>
							    				<ng-template ngbTabContent>

							    					<app-ngx-editor [placeholder]="" [spellcheck]="true" [(ngModel)]="faq.fr"></app-ngx-editor>

							    				</ng-template>
							    			</ngb-tab>
							    			<ngb-tab>
							    				<ng-template ngbTabTitle><span class="tab-title">FAQ EN </span>
							    					<span class='flag-icon flag-icon-gb flag-icon-squared'></span>
							    				</ng-template>
							    				<ng-template ngbTabContent>

							    					<app-ngx-editor [placeholder]="" [spellcheck]="true" [(ngModel)]="faq.en"></app-ngx-editor>

							    				</ng-template>
							    			</ngb-tab>
							    		</ngb-tabset>
							    	</div>
							    	
							    	<div class="form-group">
							    			<button class="btn btn-primary" (click)="saveFaq()">Mettre à jour</button>
							    	</div>
							      
							    </ng-template>
							  </ngb-tab>
							  
							  
							</ngb-tabset>
	</div>
</div>