.modal-dialog {
    max-width: 800px !important;

}

.btn-margin-bottom{
	margin-bottom: 13px;
}
.app-modal-window .modal-dialog {
  width: 800px !important;
}
.description-reduit{
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
  	text-overflow:ellipsis;
  	max-width: 500px;
	min-width: 500px;
}
.description-plus{
	overflow: visible;
	max-width: 500px;
	min-width: 500px;
}
.max-thumbnail{
	max-width:60px;
}
.aventure-titre{
	max-width: 100px;
	min-width: 100px;
}

.error{
	font-size: 11px;
	text-align: right;
	color: red;
}
// loader 
.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}