<div>
    <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">GeoHunt</li>
                    <li class="breadcrumb-item active">Aventures</li>
                   
                  </ol>
                </nav>
    <div>
    
    <h2>Liste aventures</h2>

    <div class="row">
        
        <div class="col col-xl-12 col-lg-12">
            
            <button  (click)="open(content)" type="button" class="btn btn-sm btn-primary btn-margin-bottom" > <i class="fa fa-fw fa-plus"></i>Ajouter </button>

            <div class="card mb-3">
                <!-- <div class="card-header">
                    Basic example
                </div> -->
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Niveau</th>
                            <th>Statut</th>
                            <!-- <th></th> -->
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let aventure of aventures" >
                            <th scope="row">
                                 <img  src="{{ aventure.avatar_url }}" class="img-thumbnail max-thumbnail" alt="Avatar"> 
                            </th>

                            <td>
                                <div class="aventure-titre">
                                    {{ aventure.titre.fr }} /  {{ aventure.titre.en }}
                                </div>
                            </td>
                            <td>    
                                <div [ngClass]="{
                                       'description-reduit':!aventure.plus,
                                       'description-plus':aventure.plus
                                }">
                                    {{ aventure.description.fr }} <br>
                                    {{ aventure.description.en }}
                                </div> 
                                <span *ngIf="!aventure.plus"  (click)="aventure.plus=!aventure.plus" style="cursor: pointer;text-decoration: underline;color: blue;">plus</span>
                                <span *ngIf="aventure.plus"  (click)="aventure.plus=!aventure.plus" style="cursor: pointer;text-decoration: underline;color: blue;">reduire</span>
                            </td>
                            <td>{{ aventure.niveau }}</td>

                            <td>
                                <button class="btn btn-sm btn-success" *ngIf="aventure.status == 'valide'" > Validée</button>

                                <button class="btn btn-sm btn-default" *ngIf="aventure.status == 'brouillon'" > Brouillon</button>
                               

                            </td>
                           <!--  <td>
                                <button class="btn"><i class="fa fa-eye"></i></button>
                               
                            </td> -->
                            <td>
                                 <button class="btn" (click)=edit(aventure.key)><i class="fa fa-edit" ></i></button>

                            </td>
                            <td>
                                 <button class="btn" (click)=delete(aventure)><i class="fa fa-remove" ></i></button>

                            </td>
                        </tr>
                     <!--    <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>

            <button  (click)="open(content)" type="button" class="btn btn-sm btn-primary" > <i class="fa fa-fw fa-plus"></i>Ajouter </button>

            <ng-template #content let-c="close" let-d="dismiss" class="modal-lg">
                    <div class="modal-header">
                        <h4 class="modal-title">Créer une aventure</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <h2>Créer une aventure</h2> -->
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-3 control-label">Langue * :</label>
                                <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input [(ngModel)]="aventure.language.fr" type="checkbox" value="fr"> Français
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input [(ngModel)]="aventure.language.en" type="checkbox"  value="en"> Anglais
                                            </label>
                                        </div>
                                        <div class="col-sm-12" style="text-align: right;" *ngIf="error.language">
                                             <p style="color:red; font-size: 11px;">* Langue vide!</p>
                                        </div>
                                   
                                </div>
                                        
                            </div>

                            <div class="form-group row" *ngIf="aventure.language.fr">
                                    <label  class="col-sm-3 control-label">Titre FR <span class="flag-icon flag-icon-fr flag-icon-squared"></span> * :</label>
                                    <div class="col-sm-9">
                                      <input type="text"  class="form-control" placeholder="Titre FR" [(ngModel)]="aventure.titre.fr" >
                                    </div>
                                    <div class="col-sm-12" style="text-align: right;" *ngIf="error.titre.fr">
                                         <p style="color:red; font-size: 11px;" >* Titre FR  vide!</p>
                                    </div>
             
                            </div>
                            <div class="form-group row" *ngIf="aventure.language.en">
                                    <label  class="col-sm-3 control-label">Titre EN <span class="flag-icon flag-icon-gb flag-icon-squared"></span> * :</label>
                                    <div class="col-sm-9">
                                      <input type="text"  class="form-control" placeholder="Titre EN" [(ngModel)]="aventure.titre.en" >
                                    </div>
                                    <div class="col-sm-12" style="text-align: right;" *ngIf="error.titre.en">
                                         <p style="color:red; font-size: 11px;" >* Titre EN  vide!</p>
                                    </div>
             
                            </div>
                            <hr>
                            <div class="form-group row" *ngIf="aventure.language.fr">
                                    <label  class="col-sm-3 control-label">Description FR <span class="flag-icon flag-icon-fr flag-icon-squared"></span> * :</label>
                                    <div class="col-sm-9">
                                      <textarea placeholder="Description"  class="form-control" [(ngModel)]="aventure.description.fr"></textarea>
                                    </div>
                                    <div class="col-sm-12" style="text-align: right;" *ngIf="error.description.fr">
                                         <p style="color:red; font-size: 11px;">* Description FR vide!</p>
                                    </div>
                            </div>

                            <div class="form-group row" *ngIf="aventure.language.en">
                                    <label  class="col-sm-3 control-label">Description EN <span class="flag-icon flag-icon-gb flag-icon-squared"></span> * :</label>
                                    <div class="col-sm-9">
                                      <textarea placeholder="Description"  class="form-control" [(ngModel)]="aventure.description.en"></textarea>
                                    </div>
                                    <div class="col-sm-12" style="text-align: right;" *ngIf="error.description.en">
                                         <p style="color:red; font-size: 11px;">* Description EN vide!</p>
                                    </div>
                            </div>


                            

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>

                        <button type="button" class="btn btn-primary" (click)="creer()"> Créer </button>
                        <!--
                            [disabled]="!titre || !description || !temps_max || !temps_min || !niveau"
                         -->
                    </div>
            </ng-template>

        </div>

    </div>

</div>

<div class="loading" *ngIf="loading">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

<style type="text/css">
    .modal-dialog {
    max-width: 800px !important;
}
</style>